<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="" style="display: flex; align-items: center; margin-left: -10px">
             <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>Audio-Visuales FdV
        </a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="registros-devocionales">
                <span class="bi bi-journals-fill-nav-menu" aria-hidden="true"></span> Devocionales
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="crear-devocional">
                <span class="bi bi-pencil-square-fill-nav-menu" aria-hidden="true"></span> Crear Devocional
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lista-servicios">
                <span class="bi bi-list-check-fill-nav-menu" aria-hidden="true"></span> Lista de Servicios
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="formulario-servicio">
                <span class="bi bi-clipboard-check-fill-nav-menu" aria-hidden="true"></span> Registrar Servicio
            </NavLink>
        </div>
    </nav>
</div>