* {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
}

.main {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.main::-webkit-scrollbar {
    display: none;
}

.separeI{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto auto;
    grid-gap: 1rem;
    align-items: center;
}

.separe{
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr;
    height: 80vh;
    grid-gap: 1rem;
    align-items: center;
}

.title-box{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    height: fit-content;
}

.third-div{
    display: flex;
    flex-direction: column;
    /*height: 100%;*/
    width: 100%;
    padding: 20px;
    align-items: center;
}

.oneSepare{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 70%;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 0.375rem;
}

.twoSepare{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    align-items: center;
}

.title-box-SB{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 1;
    height: fit-content;
}

.form {
    grid-gap: 1rem;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto 0.25fr 1fr auto;
    grid-template-columns: repeat(6, 1fr);
    height: 100%;
}

.form-SB {
    grid-gap: 1rem;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 2;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(6, 1fr);
    height: fit-content;
}

.content{
    grid-gap: 1rem;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: auto auto;
}

.title-card{
    display: flex;
}

.name-box {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

.name-box-SB {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

.file-box-SB{
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 7;
}

.theme-box {
    display: flex;
    flex-direction: column;
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 7;
}

.verses-box {
    display: flex;
    flex-direction: column;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 7;
    width: 100%;
}

.promises-box {
    display: flex;
    flex-direction: column;
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
}

.practice-box {
    display: flex;
    flex-direction: column;
    grid-row: 3;
    grid-column-start: 4;
    grid-column-end: 7;
    width: 100%;
}

.button-box{
    display: flex;
    grid-row: 4;
    grid-column-start: 1;
    grid-column-end: 7;
    justify-content: center;
}

.button-box-SB {
    display: flex;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 7;
    height: fit-content;
    justify-content: center;
}

button{
    width: 99%;
}

textarea {
    min-height: 100px;
    height: 100%;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

input {
    min-height: 25px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.card {
    background-color: #f9f9f9;
    height: 100%;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.card h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.card p {
    font-size: 0.95rem;
    color: #333;
}

@media (max-width: 1600px) {
    .separe{
        width: 100%;
    }
    .separeI{
        width: 100%;
    }
    .form{
        grid-template-rows: auto 0.25fr 2fr auto;
    }
    .oneSepare{
        width: 100%;
        min-width: 500px;
    }
}